@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}

/* Стили в секции header */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}


/* Стили в секции hero на странице index */
.hero {
  background-image: url("../images/index-hero/index-background.jpg");
  color: #000000;
  background-color: 8CABB8;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-sedona {
  display: block;
  margin: 0 auto;
}

/* Стили в секции advantages */
.advantages-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-reason {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;

}

.advantages-item {
  text-align: center;
  background: #83B3D333;
}

.advantages-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-name-black{
  color: #000000;
}

.beautiful-road {
  font-weight: 400;
  color: #333333;
}

.dark-blue {
  color: #FFFFFF;
  background: #82B3D3;
}

.light-blue {
  color: #333333;
  background: #83B3D31F;
}

/* Стили в секции services на странице index */
.services-item {
  background: #83B3D31F;
}

.white-background {
  background: #FFFFFF;
}

.services-name {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  text-align: center;
  font-weight: 400;
  color: #333333;
}

/* Стили в footer*/
.footer-newsletter-background {
  background-image: url("../images/footer/background-footer.jpg");
  color: #FFFFFF;
  background-color: 3F5E72;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-newsletter-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-newsletter-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.footer-contacts-phone {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

/* Стили в секции catalog-items на странице catalog */
.catalog-items {
  background-image: url("../images/catalog-search/background-search.jpg");
  color: #FFFFFF;
  background-color: 88B2D0;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-items-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/* Стили в секции sorter-section на странице catalog */
.found-amount {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.hotel-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-rating-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination {
  background-color: #82B3D3;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
