@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1200px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
  display: inline-block;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}

.span-wrap{
  display: block;
}

/* Стили в секции header */
.page-header {
  display: flex;
  margin: 0;
}

.logo{
  display: block;
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -6px;
  position: relative;
}

.navigation {
  display: flex;
  width: 892px;
  margin: 0;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width: 430px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.navigation-user{
  display: flex;
  padding: 0;
  width: 132px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}


/* Стили в секции hero на странице index */
.hero {
  background-image: url("../images/index-hero/index-background.jpg");
  color: #FFFFFF;
  background-color: #8CABB8;
  background-size: cover, 1200px auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 51px 371px 82px;
}

.logo-sedona {
  display: block;
  padding: 0;
  margin: 0 auto;
}

/* Стили в секции advantages */

.advantages-sedona{
  padding: 69px 0;
  margin: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
}

.advantages-reason {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.advantages-item {
  text-align: center;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-view-hotel {
width: 800px;
height: 385px;
margin: 0;
}

.dark-blue {
  color: #FFFFFF;
  background: rgba(130, 179, 211, 1);
  width: 400px;
  height: 385px;
  margin: 0;

}

.light-blue {
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-name-black{
  color: #000000;
}

.beautiful-road {
  font-weight: 400;
  color: #333333;
}


/* Стили в секции services на странице index */
.services-sedona {
  padding: 64px 0;
  margin: 0;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.services-reason {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.services-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 1200px;
  justify-content: space-between;
}

.services-item {
  background: #83B3D31F;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.white-background {
  background: #FFFFFF;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.services-name {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  text-align: center;
  font-weight: 400;
  color: #333333;
}

/* Стили в секции search на странице index */

.search {
  text-align: center;
  padding: 96px 304px;
  margin: 0;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.search-reason{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 54px;
  padding: 0;
  text-align: center;
}

/* Стили в footer*/

.footer-newsletter-background {
  background-image: url("../images/footer/background-footer.jpg");
  color: #FFFFFF;
  background-color: #3F5E72;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-newsletter{
  text-align: center;
  padding: 96px 70px;
  margin: 0;
}

.footer-newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.footer-newsletter-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.button-search-hotels{
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
}


/* Стили в секции footer на странице catalog */
.footer-newsletter-catalog{
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.footer-contacts-phone {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  width: 331px;
  margin-left: 236px;
}

.footer-wrap{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
}

.footer-social-list{
  display: flex;
  width: 142px;
  padding: 0;
}

.footer-social-link {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-partners {
  display: flex;
  padding: 0;
  margin-left: auto;
  align-items: center;
}


/* Стили в секции catalog-items на странице catalog */
.main-inner{
  flex-grow: 1;
}

.catalog-items {
  background-image: url("../images/catalog-search/background-search.jpg");
  color: #FFFFFF;
  background-color: #88B2D0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.catalog-items-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  margin-right: 28px;
}

.catalog-filter {
  display: flex;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 16px;
}

.filter-housing {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  margin-left: 140px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.button-apply {
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
  margin-top: 56px;
}

.button-reset {
  background-color: transparent;
  margin: 0;
  padding: 8px 50px;
}

/* Стили в секции sorter-section на странице catalog */
.sorter-section-header {
  display: flex;
  padding: 0;
  margin: 56.5px 70px 46.5px;
}

.found-amount {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 200px;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}

.select-control {
  width: 292px;
  margin: 0;
  margin-right: 70px;
}

.use-icons-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.button-icons-item {
  width: 16px;
  height: 14px;
  background-color: #ffffff;
  margin: 0;
  padding: 17px 16px;
  margin-right: 8px;
}

.button-icons-gallery {
  width: 16px;
  height: 14px;
  background-color: #ffffff;
  margin: 0;
  padding: 17px 16px;
  margin-right: 8px;
}

.button-icons-list {
  width: 16px;
  height: 14px;
  background-color: #ffffff;
  margin: 0;
  padding: 17px 16px;
}

.hotel-list {
  display: flex;
  padding: 0 70px;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0;
  margin-bottom: 80px;
}

.hotel-card {
  padding: 20px;
  margin: 0;
}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.hotel-title {
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.hotel-name {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 16px 0;
}

.hotel-description {
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 0;

}

.hotel-price {
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 0;

}

.hotel-rating-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

}

.button-favorite {
  background-color: #82B3D3;
  padding: 8px 20px;
  margin: 0;
  margin-bottom: 16px;
}

.button-more {
  padding: 8px 26px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 16px;
}

.button-favorite-blue {
  background-color: #7DB54F;
  padding: 8px 18px;
  margin: 0;
  margin-bottom: 16px;
}

.pagination-list {
  display: flex;
  padding: 0 70px;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  min-width: 60px;
  height: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-current {
  width: 60px;
  height: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-ellipsis {
  padding: 17px 21px;
  margin: 0;
  margin-right: 8px;
  display: block;
}
